/* Main Color Pallette */
:root {
    --primary-color: #a38a75;
    --accent-color: #c2410c;
    --background-color: #fffdfa;
    --text-bold: #451a03;
    --text-light: #7d6b5d;
    --card-color: #ffffff;
    --spacing: 80px;
}

/* Globals */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-bold);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header & Navigation */
.navBar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 5%;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color)
}

nav a {
  text-decoration: none;
  color: var(--text-bold);
  margin-left: 30px;
  font-weight: 500;
}

/* Intro Section */
.intro{
  text-align: center;
  padding: var(--spacing) 10%;
  background-color: white;
}

.intro h1{
  font-size: 3.5rem;
  color: var(--text-bold);
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.1
}

.intro p{
    color: var(--text-light);
}

/* Buttons */

.btn-homepage{
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--card-color);
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s;
  box-shadow: 0 4px 14px rgba(194, 65, 12,0.2);
}

.btn:hover{
  transform: translateY(-3px); /* Lifts button */
}

.footer-dark {
    background-color: var(--text-bold);
    color: var(--background-color);
    padding: 60px 10%;
    text-align: center;
}